.container-form {
  background: white;
  border-radius: 10px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  height: 314px;
  margin: auto;
  max-width: 697px;
  width: 75%;
}

.image-login {
  margin: 50px;
}

.input-name {
  background-color: white;
  border: 1px solid #d2d3d4;
  display: block;
  font-size: 20px;
  height: 45px;
  margin: auto;
  max-width: 519px;
  text-align: center;
  width: 80%;
}

.login-name {
  padding-top: 90px;
}

.container-button {
  padding-top: 40px;
}

.button-login {
  background: #003be5;
  border-radius: 2px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  color: white;
  display: block;
  font-size: 18px;
  height: 40px;
  margin: auto;
  max-width: 519px;
  width: 80%;
}

.button-login:hover {
  background: #043ff2;
  cursor: pointer;
}

button:disabled {
  background-color: #0039e53a;
  border: none;
}

button:hover:disabled {
  background-color: #0039e53a;
  cursor: auto;
}
