* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #fafafa;
}

.login-container {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: auto;
}
