.search-input {
  background-color: white;
  border: 1px solid #3d495c;
  border-radius: 6px;
  font-size: 18px;
  max-width: 519px;
  padding: 12px 16px;
  width: 50%;
}

.container-search {
  margin-top: 50px;
}

.search-button {
  background-color: #003be5;
  border: none;
  border-radius: 2px;
  color: white;
  font-size: 16px;
  font-weight: 400;
  height: 45px;
  margin-left: 27px;
  padding: 8px 32px;
  width: 134px;
}

.search-button:hover {
  background-color: #043ff2;
  cursor: pointer;
}

.search-section {
  margin: 0 40px;
}

.search-h3 {
  color: #001813;
  font-size: 24px;
  font-style: normal;
  font-weight: 300;
  line-height: 25px;
  margin-bottom: 30px;
  margin-left: 12.5px;
  margin-top: 30px;
  text-align: start;
}

.search-list {
  display: flex;
  flex-wrap: wrap;
}

.serach-album {
  background-color: white;
  border: 1px solid #e1e5eb;
  border-radius: 6px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
  height: 320px;
  list-style-type: none;
  margin: 0 12.5px;
  margin-bottom: 25px;
  width: 290px;
}

.search-container-img {
  background: linear-gradient(-45deg, #0b0c0c, #2fc18c, #2fc18c, #0b0c0c);
  border-radius: 6px 6px 0 0;
  height: 180px;
  margin-bottom: 16px;
}

.serach-album img {
  height: 180px;
  width: 180px;
}
